/* Base color: #931a2e
Other colors: #F0BB39, #f9ebc8, #fdd1e5
Text: Black or White */

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  /* font-family: "Raleway", sans-serif; */
  color: black;
}

a {
  color: #931a2e;
  text-decoration: none;
}

a:hover {
  color: #931a2e;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

@media (max-width: 992px) {
  .container {
    width: 100%;
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 40px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #fff;
}

.section-title h2 {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #000;
}

.section-title p {
  margin-bottom: 0;
}

html {
  scroll-behavior: smooth;
}
